header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  margin-right: 7vw;
  margin-top: 4.5vh;
  font-weight: 700;
}
h1 {
  margin-top: 3vh;
  margin-left: 7vw;
}
nav a {
  padding: 20px;
  text-decoration: none;
  margin-right: 2vw;
  color: black;
}
